<div style="background-image: url('https://wallpapercave.com/wp/wp4608067.jpg'); background-repeat: no-repeat; width: 100%; height: 95%;">
  <div style="width: 100%;  height: 93.5%; overflow-x: hidden; overflow-y: auto;">
    <mat-grid-list cols="4" rowHeight="19%" gutterSize="10px">
      <mat-grid-tile *ngFor="let location of locations">
      <!-- <mat-grid-tile *ngFor="let location of locations"> -->
        <mat-card class="example-card" (click)="openDialog(location)">
          <mat-card-content>
            <p>
              {{ location.name }}
            </p>
            <p>
              {{ location.type }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-paginator
    (page)="searchCharacters($event)"
    [length]="pages"
    [pageSize]="20"
    aria-label="Select page">
  </mat-paginator>
</div>
